* {
  padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

  }
  
  body {
    color: #434455;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  h3 {
    color: rgba(46, 47, 66, 1);
  }
  
  p {
    color: rgba(67, 68, 85, 1);
  }

  input {
    outline: none;
  }




  
  .header {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(231, 233, 252, 1) ;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    height: auto;
  }

  img {
    display: block;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .nav-menu{
    display: flex;
    padding: 0;
    gap: 40px;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
  }


  .container {
    display: block;
    width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .logo {
    gap: 40px ;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }
  
  .logo-s {
    color: #2e2f42;
  }
  
  .studio {
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .stud-one {
    color: #404BBF;
  }

  .stud-one::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
  }
  
  .studio:hover {
    color: #404bbf ;
  }
  
  .studio:focus {
    color: #404bbf;
  }

  .studio:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
}
  
  .address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .address-ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address-li {
    display: inline;
  }
  
  .email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .email:hover {
    color: #404bbf;
  }
  
  .email:focus {
    color: #404bbf;
  }








  .section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgroundimg.jpg);
    background-size: cover;
    background-color: rgba(46, 47, 66, 1);
    color: #fff;
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 188px 0;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hone-button {
    justify-content: center;
    color: #ffffff;
    background-color: #2E2F42;

  }
  
  .sect-hone {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;
  }
  
  .button {
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button:hover {
    background-color: #404BBF
  }
  
  .button:focus {
    background-color: #404BBF;
  }
  




  .section-two, .section-three, .section-four {
    padding: 120px 0 ;
  }

  .section-two .container {
    display: flex;
    justify-content: center;
  }

   .lione {
    width: calc((100% - 72px) / 4);
  }

  .lione-div{
    background-color: #F4F4FD;
    width: 100%;
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    height: 112px;
  }

  .lione-div svg {
    display: block;
    text-align: center;
    margin: 24px 100px;
  }

  .strategy {
   margin-bottom: 8px;
  }
  
  .strategy, .strategy-ot {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .ourteam-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    padding: 0;
  } 
  



  .section-three {
    text-align: center;
    background-color: rgba(244, 244, 253, 1);
    min-height: 772px;
  }

  .ourteam-htwo {
    margin-bottom: 72px;
    color: rgba(46, 47, 66, 1);
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
  }
  
  .ourteam {
    background-color: rgba(244, 244, 253, 1);
  }

  .ourteam-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .ul-ourteam {
    gap: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .strategy-ot {
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .ourteam-p {
    justify-content: center;
  }
  
  .mark {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .mark img {
    width: 100%;
  }

  .emploer {
    padding: 32px 0;
  }

  .list-mess {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .li-list {
    width: 40px;
    height: 40px;
  }
  
  .link {
    display: flex;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover, .link:focus {
    background-color: #404bbf;
  }

  .icon {
    fill: #f4f4fd;
  }
  



  
.section-four {
  padding: 120px 0;
}

.bank-hthree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
.ourportfolio-htwo {
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-size: 36px;
    margin-bottom: 72px;
    color: rgba(46, 47, 66, 1);
    text-align: center;
    text-transform: capitalize;
  }

.ulone {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

.bank {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

.bank:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

.bank:hover .bank-img-p {
    transform: translateY(0%);
  }

  .bank-img-cont {
    position: relative;
    overflow: hidden;
  }

  .bank img {
    width: 100%;
  }

  .bank-img-p {
    position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  padding: 40px 32px;
  background-color: #4D5AE5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  }

  .bank-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .bank-hthree {
    margin-bottom: 8px;
    line-height: 24px;
    font-size: 20px;
  }
  
  .bank-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  


  
  .logo-f {
    color: #f4f4fd;
  }
  
  .footer {
    width: 100%;
    background-color: rgba(46, 47, 66, 1);
    padding: 100px 0 100px 0;
  }
  
  .footer .container {
    display: flex;
    align-items: baseline;
    padding: 0 16px;
  }

  .firstdiv-foot {
    margin-right: 120px;
  }

  .footer-p {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
  }

  .cont-foot {
    display: flex;
  }
  
  .logo-footer {
    margin-bottom: 16px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .soc-med {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }

  .foot-ul {
    display: flex;
    gap: 16px;
  }

  .foot-li {
    width: 40px;
    height: 40px;
  }

  .a-foot {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .a-foot:hover {
    background-color: #31d0aa;
  }

  .a-foot:focus {
    background-color: #31d0aa;
  }

  .foot-form {
    display: flex;
    gap: 24px ;
  }

  .foot-label {
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sub-label {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
  }

  .sub-span {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .foot-subs .sub-label {
    letter-spacing: 0.64px;
  }

  .foot-inp {
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    height: 40px;
    width: 264px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .foot-inp::placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.48px;
  }

  .foot-subs {
    font-family: "Roboto", sans-serif;
    background-color: rgba(77, 90, 229, 1);
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-weight: 500;
    min-width: 165px;
  }

  .foot-label-two {
    height: 40px;
    margin-top: 40px;
  }

  .sub-svg {
    margin-left: 16px;
  }

  .email-foot {
    margin-left: 80px;
  }



  .modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-absol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-but {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-but:hover {
    background-color: #404bbf; 
    border: none;
    fill: #fff;
  }

  .modal-but:focus {
    background-color: #404bbf; 
    border: none;
    fill: #fff;
  }

  .plas {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-cont {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
  }

  .form-cont {
    margin-bottom: 8px;
  }

  .cont-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
  }

  .cont-inp {
    position: relative;
  }

  .true-inp-cont {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .true-inp-cont:focus {
    border-color: #4D5AE5;
  }

  .modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .true-inp-cont:focus + .modal-icon {
    fill: #4D5AE5;
  }

.text-ar-modal {
  margin-bottom: 16px;
}

.comment-ar {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.comment-ar::placeholder {
  color: #8e8f99;
}

.comment-ar:focus {
  border-color: #4D5AE5;
  color: rgba(46, 47, 66, 1);
}

.text-ar-cont {
  position: relative;
}

.char-count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #8e8f99;
  font-size: 12px;
  margin: 4px;
}

.check-label {
  margin-bottom: 24px;
}

.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
}

.check-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox:checked + .label-privacy > .check-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: block;
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

  .help-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .help-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
    min-height: 420px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    margin: 72px auto 0 16px;
    gap: 40px;
  }  

  .menu-list-item {
    color: rgba(46, 47, 66, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
  }

  .menu-list-item:hover {
    color: rgba(64, 75, 191, 1);
  }

  .menu-contacts {
    color: rgba(67, 68, 85, 1);
    margin: 0 auto 0 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .menu-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px ;
    margin-bottom: 12px;
  }

  .menu-item-first {
    color: #404BBF;
  }

  .contacts-item-first {
    color: #4d5ae5;
  }

  .menu-link {
    display: flex;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .menu-group {
    position: absolute;
    bottom: 20px;
  }

  .menu-group .list-mess {
    margin-left: 16px;
  }